
body {
  height: 850px;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#app {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  display: block;
  height: 15px;

}

button {
  background: none;
  color: #ffffff;
  font-size: 30px;

  border-radius: 7px;
  border: 3px solid;
  padding: 0 3rem; 
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  transition: opacity .1s linear;
  
}

button:hover {
  background-color: #ebebeb41;
  color:#ffffff;
}

.pizza {
  position: relative;
  
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; 

	width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 0;
  
	list-style: none;
  overflow: hidden;

  background-color: #ecad5b;
  border:5px solid #ffa113;
  box-shadow: 0 0 0px 10px #ff703c;
  transform: rotate(15deg);

  background-image: 
                    radial-gradient(circle at 10px 0px, transparent 6px,
                    #d2d2d2 5px, #f5f5f5 13px, transparent 13px), 

                    radial-gradient(circle at 8px -3px, transparent 3px,
                    #07881d 3px, #019119 9px, 5%, transparent 10px),
                    
                    radial-gradient(circle at 0px 10px, transparent 6px,
                    #d2d2d2 5px, #f5f5f5 13px, transparent 13px),
                    
                    radial-gradient(circle at 40px 50px, transparent 3px,
                    #455a64 3px, #455a64 9px, transparent 10px),
                    
                    radial-gradient(circle at 40px 40px, 
                    #d83013 16px,#a01b1b 20px, transparent 18px);

  background-size: 120px 120px, 100px 75px, 100px 70px,
                   100px 100px, 80px 80px;
}

li { 
	overflow: hidden;
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
  transform-origin: 0% 100%;  
  
  background: hidden;   
  border-left: 2px solid rgb(255, 127, 80);
}

#numberOfPizzaPieces {
  color: rgba(255, 255, 255, 0.082);
  text-shadow: 1px 1px 1px #ffffff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

    
    

